# data & output
data/raw/
output/
*.parquet
*.csv
*.xlsx
*.json.gz

# spark
spark-warehouse/
metastore_db/
derby.log
checkpoint/

# python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# java / maven
target/
*.class

# ide & os
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db

# secrets
.env
*.pem
credentials*.json
